// Tags
// --------------------------------------------------
body { background: $background; }

h1, h2, h3, h4, h5, h6 { margin: 20px 0 10px; }

// addition for dark, (sub)-heading colors
h2, h3, h4, h5, h6 { color: $subheading }

p { margin: 0 0 25px 0; }

a { border-bottom-color: $link-underline; }

hr {
  margin: 20px 0;
  height: 2px;
}

ul li { list-style: circle; }
